<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535813158229-pmefhjgibbug18o9enaki941728a3kd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535813158229-pmefhjgibbug18o9enaki941728a3kd6</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ2iDjXoyAYb9ArOnuod2JovglB8tUQUM</string>
	<key>GCM_SENDER_ID</key>
	<string>535813158229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shantikaBus</string>
	<key>PROJECT_ID</key>
	<string>newshantika-7526d</string>
	<key>STORAGE_BUCKET</key>
	<string>newshantika-7526d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535813158229:ios:df4836bb1ca3008274abdc</string>
</dict>
</plist>